* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body {
    background-color: white;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3640;
    color: white;
}

.outline {
    padding: 30px 130px;
}

.header h1 {
    font-size: 30px;
}

.header ul li {
    display: inline;
    margin-right: 20px;
}

.header li:last-child {
    margin-right: 0px;
}

.header ul li a {
    color: white;
    text-decoration: none;
}

.header ul li a:hover {
    color: #dcdde1;
    text-decoration: underline;
}

.temporary {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    opacity: 50%;
}

.active-page {
    text-decoration: underline !important;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2f3640;
}

.data-table {
    border-collapse: collapse;
    border: 1px solid #2f3640;;
}

.data-table tr {
    height: 100%;
}

.data-table tr th {
    color: white;
    padding: 10px 20px;
    background: #2f3640;
}

.data-table tr td {
    padding: 10px 20px;
    color: #2f3640;
    height: 100%;
}

.data-table tr td span {
    opacity: 50%;
    font-weight: bold;
    font-size: 12px;
}

.data-table tr td span a {
    text-decoration: underline;
}

.data-table tr td:last-child {
    padding: 0px 0px;
    display: block;
    height: 39px;
}

.data-table tr:nth-child(2n+1) {
    background: #dcdde1;
}

.data-table button {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    transition: .2s;
}

.data-table td:last-child a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    transition: .2s;
    text-decoration: none;
    color: #2f3640;
}


.data-table button:hover {
    cursor: pointer;
    color: white;
    background-color: #00a8ff;
}

.data-table td:last-child:hover a {
    cursor: pointer;
    color: white;
    background-color: #00a8ff;
}

.controls-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controls {
    margin-top: 30px;
}

.controls button {
    padding: 10px 15px;
    border: 1px solid #00a8ff;
    background-color: transparent;
    color: #00a8ff;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
}

.controls button:hover {
    color: white;
    background-color: #00a8ff;
}


.error-onpage {
    background-color: red;
    color: white;
    padding: 10px 15px;
}

.inline {
    display: flex;
    flex-direction: row;
}

.menu-toggle {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}

.applications {
    display: flex;
    flex-direction: column;
}

.applications .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px 20px;
    margin-bottom: 30px;
}

.applications .filter > div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    gap: 0px 20px;
}

.applications .filter > button {
    padding: 10px 15px;
    background: none;
    border: 1px solid #00a8ff;
    color: #00a8ff;
    border-radius: 5px;
    transition: .2s;
}

.applications .filter > button:hover {
    color: white;
    background-color: #00a8ff;
}

.pagination {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination a {
    padding: 10px 15px;
    margin: 5px;
    background-color: #2f3640;
    color: white;
    text-decoration: none;
}

.application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.application > .state {
    align-self: flex-end;
    padding-bottom: 30px;
    display: block;
}

.application > .state > #state {
    font-weight: bold;
}

.application > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px 60px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.application > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 350px;
}

.application > div > div > input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2f3640;
}

.application > .user_message > textarea {
    resize: none;
    max-width: 760px;
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2f3640;
}

.application .controll {
    margin-bottom: 0px;
}

.application .controll input {
    max-width: 760px;
    width: 100%;
    padding: 10px 15px;
    border: none;
    background: #2ecc71;
    color: white;
    transition: .2s;
}

.application .controll input:hover {
    background: #27ae60;
}

.delete_appl .controll input {
    background: #e74c3c;
    transition: .2s;
}

.delete_appl .controll input:hover {
    background: #c0392b;
}

.delete_appl .controll input:disabled {
    background-color: #555555;
}



.socials-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.socials-blocks .social-block {
    padding: 10px 15px;
    border: 1px solid #2f3640;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
}

.socials-blocks .social-block > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;
    height: 100%;
}

.socials-blocks .social-block .icon-preview {
    width: 85px;
}

.socials-blocks .social-block input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2f3640;
    display: block;
}

.socials-blocks .social-block input:disabled {
    border-color: white;
    background-color: white;
}

.socials-blocks .social-block button {
    border-radius: 5px;
    border: 1px solid #e74c3c;
    background-color: white;
    color: #e74c3c;
    padding: 10px 10px;
    transition: .2s;
}

.socials-blocks .social-block button:hover {
    color: white;
    background-color: #e74c3c;
}

.socials-blocks .social-block button[name=save_social] {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.socials-blocks .social-block button[name=save_social]:hover {
    color: white;
    background-color: #2ecc71;
}

.socials-blocks .add-social button {
    border-radius: 5px;
    border: 1px solid #2ecc71;
    background-color: white;
    color: #2ecc71;
    padding: 10px 10px;
    transition: .2s;
}

.socials-blocks .add-social button:hover {
    color: white;
    background-color: #2ecc71;
}

.content hr {
    background-color: #2f3640;
    border: 1px solid #2f3640;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit-landing {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
}

.edit-landing hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-landing .inline {
    gap: 0px 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.edit-landing .inline > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0px 15px;
    flex-wrap: wrap;
}

.edit-landing .gap1 {
    gap: 10px 30px;
}

.edit-landing .gap2 {
    gap: 10px 30px;
}


.edit-landing input[type=text], input[type=number] {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2f3640;
}

.edit-landing select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2f3640;
}

.edit-landing .inline-right {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 0px;
}

.edit-landing button[type=submit] {
    padding: 10px;
    background-color: white;
    border: 1px solid #2ecc71;
    color:#2ecc71;
    border-radius: 5px;
    transition: .2s;
}

.edit-landing button[type=submit]:hover {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: white;
}

h4 {
    margin-top: 20px;
}


.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1000px;
    gap: 0px 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.project button[name=save_project] {
    border-radius: 5px;
    border: 1px solid #2ecc71;
    background-color: white;
    color: #2ecc71;
    padding: 10px 10px;
    transition: .2s;
}

.project button[name=save_project]:hover {
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    color: white;
}

.project button[name=delete_project] {
    border-radius: 5px;
    border: 1px solid #e74c3c;
    background-color: white;
    color: #e74c3c;
    padding: 10px 10px;
    transition: .2s;
}

.project button[name=delete_project]:hover {
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
    color: white;
}

.project .project-data input[disabled] {
    border: 1px solid white;
    background-color: white;
}

.add-project button[type=submit] {
    padding: 10px;
    background-color: white;
    border: 1px solid #2ecc71;
    color:#2ecc71;
    border-radius: 5px;
    transition: .2s;
}

.add-project button[type=submit]:hover {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: white;
}



.project-data {
    display: flex;
    flex-direction: row;
    gap: 10px 30px;
    flex-wrap: wrap;
    max-width: 1000px;
}

.project-data div {
    display: flex;
    flex-direction: column;
}

.project-data input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.project-data button {
    align-self: self-end;
}

.inline-right a {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #00a8ff;
    color: #00a8ff;
    border-radius: 5px;
    transition: .2s;
    text-decoration: none;
}
.inline-right a:hover {
    color: white;
    background-color: #00a8ff;;
}

.center-feedback-image {
    padding-left: 0px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content .center-feedback-image > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-content .center-feedback-image > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid black;
    overflow: hidden;
}

.modal-content .center-feedback-image div div i {    
    font-size: 80px;
}

.modal-content .center-feedback-image div div img {
    height: 80px;
}

.form-textarea {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 0px 40px;
}

.form-textarea textarea {
    resize: none;
    border: 1px solid #2f3640;
    border-radius: 3px;
    width: 100%;
    padding: 5px 10px;
}

.delete-image:hover::before {
    content: "Delete";
    color: white;
    font-size: 10px;
    width: 80px;
    height: 20px;
    transform: translate(0px, 30px);
    position: absolute;
    background-color: red;
    text-align: center;
    z-index: 0;
    padding-top: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 859px) {
    .application > .user_message > textarea {
        max-width: 350px;
    }

    .application .controll input {
        max-width: 350px;
    }

    .delete_appl .controll input {
        max-width: 350px;
    }
}




@media only screen and (min-width: 1080px) {
    .menu-toggle {
        display: none; 
    }
    .nav {
        display: flex;
        flex-direction: row; 
        align-items: center;
    }
    .nav-socials {
        margin-left: auto; 
    }
}

@media only screen and (max-width: 1079px) {
    .menu-toggle {
        display: block; 
        cursor: pointer;
    }
    .nav {
        display: none; 
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #2f3640;
        z-index: 1;
    }
    .nav li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
    }
    .menu-toggle:focus + .nav, .menu-toggle:focus + .nav-socials {
        display: block;
    }

    .nav:hover, .nav-socials:hover {
        display: block;
    }
}


/* phones */
@media only screen and (max-width: 480px) {
    .outline {
        padding-left: 20px;
        padding-right: 20px;
    }

    .data-table tr .hide, 
    .data-table tr .hide {
        display: none;
    }

    .applications .filter > div > div {
        display: flex;
        flex-direction: column;
    }

}


/* tablets */
@media only screen and (min-width: 481px) and (max-width: 1080px) {
    .outline {
        padding-left: 50px;
        padding-right: 50px;
    }

    .data-table tr .hide,  
    .data-table tr .hide {
        display: none;
    }


}